h1, #noresults, p{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label{
  font-weight: 500;
  color:rgb(64, 131, 183);
}

form{
  display: flex;
  flex-direction: column;
}

:root{
  margin-top: 150px;
}
